.header-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.banner-content{
  height: calc( 100% - 220px);
}
.animate-charcter{
  background: -webkit-linear-gradient(135deg,#231557,#44107a, #ff1361,#fff800);
  background: linear-gradient(-45deg,#231557,#44107a, #ff1361,#fff800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.email{
  transform: rotate(90deg);
  font-family: 'Martian Mono', monospace;
}

.about-me h2:after,.work-history h2:after{
  content: '';
  width: 200px;
  height: 2px;
  margin-top: 10px;
  background-color: gray;
}

.btn-active{
  @apply bg-[rgb(16,185,129)] rounded-3xl text-white font-semibold;
}

.project{
  position: relative;
}
.project .technology{
  transform: rotate(270deg);
  font-family: 'Martian Mono', monospace;
  position: absolute;
  color: black;
  left: -81px;
  top: 50%;
}
.project-number{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #d6d6d6;
}

.from-body h2{
  font-family: 'Martian Mono', monospace;
}
.from-body form label {
  font-family: 'Martian Mono', monospace;
  font-size: 14px;
}
.ui-functionality .ui-box:nth-child(2n){
  align-self: flex-end;
  flex-direction: row-reverse;
}
.ui-functionality .ui-box:nth-child(2n+1){
  align-self: flex-start;
}

.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .ui-functionality .ui-box:nth-child(2n){
    align-self: flex-start;
    flex-direction: column;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .ui-functionality .ui-box:nth-child(2n){
    align-self: flex-start;
    flex-direction: column;
  }
}